{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      GreenShip
      <img
        src="/public/images/planet-earth.png"
        alt="Earth"
        width="50"
        height="50"
        class="planet-earth"
      />
      <span class="govuk-caption-xl">
        Save the planet
      </span>
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Would you like to save the planet?</h2>
    <p class="govuk-body">Saving the planet takes less than 5 minutes.</p>
    <a
      href="start.html"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      data-module="govuk-button"
    >
      Start now
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div>

{% endblock %}
